<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConnString" value="Data Source=DESKTOP-3C885QU\SQLEXPRESS;user id=sa;password=Password#2015;" />
  </appSettings>
</configuration>